<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {title: "Add Item"}) %> 
</head>
<body>
    <div class="container1">
        
        <div class="container2 aside-content">
            <%- include("./partials/closeSidebarButton.ejs") %> 
            <%- include("./partials/aside.ejs", {collectionData: collectionData, urlParameters: urlParameters}) %>
            
        </div>

<%- include("./partials/modal.ejs") %>

        <div class="container2 main-content">
            <%- include("./partials/openAsideButton.ejs") %> 
            
            <h1>Add a new task to <%=urlParameters.title%></h1>
            <a class="back-home-link" href="/<%=urlParameters.title%>">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
                <span class="link"> Go back to the homepage</span>
            </a>
       
            <form id="add-item-form" action="/<%= urlParameters.title%>/add-item" method="POST">
                <div class="addItemPage-container task-container">

                    <div class="container3 display-error" data-error="<%= typeof error.errors == "undefined" ? undefined : error.errors.title %>">
                        <label for="title">Add a title</label>
                        <input class="input"  type="text" name="title" id="title" placeholder="Try typing 'Pay utilities'" value="<%= data.title %>">
                    </div>

                    <div class="container3 display-error" data-error="<%= typeof error.errors == "undefined" ? undefined : error.errors.description %>">
                        <label  for="description">Add a description</label>
                        <textarea class="input" name="description" id="description" cols="80" rows="10" placeholder="Try typing 'Pay gas and electricity bills by friday 6pm'"><%= data.description %></textarea>
                    </div>
                </div>
            </form>                
            <div class="add-item-container add-item-link-position">
                <button class="add-item-btn" type="submit" name="submit" form="add-item-form">
                    <span class="material-symbols-outlined">add</span>
                    <span class="add-item-link">Add item</span> 
                </button>
            </div>
        </div>

    </div>
    <%- include("./partials/scripts.ejs") %>
    <script src="/js/AddItemPage.js"></script>
    

</body>
</html>

